.heading_class{
    height:50px;
    background:#868686;
    line-height:50px;
    color: #fff;
}
.h1_class{
    text-align: center;line-height: 50px;color: #fff;
}

label{
    font-size: 17px;
    font-weight: 600;
}
.form-control {
    border-radius: 0 !important;
    box-shadow: none !important;
    /*border-color: #b5b5b5 !important;*/
}
.has-feedback .form-control {
    padding-right: 42.5px;
    font-size: 15px!important;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #b9b9b9;
}


/* highlight results */
.ui-autocomplete {
    background-color: #fff;
    list-style-type: none;
    width:766px;
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 16px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}